<div style="text-align: center" class="sinus-figure-component">
    <style is:inline>
        .sinus-figure-component #canvas {
            border: 2px solid black;
            margin: auto;
        }
        .sinus-figure-component .table-wrap {
            display: inline-block;
        }
    </style>
    <canvas id="canvas" width="801" height="201"></canvas>
    <br />
    <p id="formule"></p>
    <div class="table-wrap">
        <table>
            <tbody>
                <tr>
                    <td>
                        <span>Mean: </span><span id="textMoy">0</span>
                    </td>
                    <td>
                        <input type="range" id="moy" min="-5" max="5" value="0" step="0.1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Amplitude: </span><span id="textAmpli">2</span>
                    </td>
                    <td>
                        <input type="range" id="ampli" min="0" max="5" value="2" step="0.1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Frequency: </span><span id="textFreq">0.5</span>
                    </td>
                    <td>
                        <input type="range" id="freq" min="0" max="2" value="0.5" step="0.01" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Phase: </span><span id="textRet">0π</span>
                    </td>
                    <td>
                        <input type="range" id="ret" min="0" max="2" value="0" step="0.1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Scale: </span><span id="textEch">27</span>
                    </td>
                    <td>
                        <input type="range" id="ech" min="10" max="50" value="27" step="1" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="application/javascript" is:inline>
    function init() {
        let canvas = document.getElementById("canvas");
        if (canvas.getContext) {
            ampli = document.getElementById("ampli").value;
            freq = document.getElementById("freq").value;
            moy = document.getElementById("moy").value;
            ret = document.getElementById("ret").value;
            Tcase = parseInt(document.getElementById("ech").value, 10);
            Xzero = canvas.width / 2;
            Yzero = canvas.height / 2;
            if (Math.floor(canvas.height / Tcase) % 2 == 0) {
                Ycase = (canvas.height - Math.floor(canvas.height / Tcase) * Tcase) / 2;
            } else {
                Ycase = (canvas.height - (Math.floor(canvas.height / Tcase) - 1) * Tcase) / 2;
            }

            if (Math.floor(canvas.width / Tcase) % 2 == 0) {
                Xcase = (canvas.width - Math.floor(canvas.width / Tcase) * Tcase) / 2;
            } else {
                Xcase = (canvas.width - (Math.floor(canvas.width / Tcase) - 1) * Tcase) / 2;
            }
            TraceCanvas();
        }
    }

    function TraceCanvas() {
        let canvas = document.getElementById("canvas");
        let inCanvas = canvas.getContext("2d");
        inCanvas.clearRect(0, 0, canvas.width, canvas.height);
        inCanvas.fillStyle = "white";
        inCanvas.fillRect(0, 0, canvas.width, canvas.height);
        grille(canvas, inCanvas);
        trace(canvas, inCanvas);
        formule();
    }

    function grille(canvas, inCanvas) {
        inCanvas.fillStyle = "grey";
        for (var i = 0 + Ycase; i < canvas.height; i += Tcase) {
            inCanvas.fillRect(0, i, canvas.width, 1);
        }
        for (var i = 0 + Xcase; i < canvas.width; i += Tcase) {
            inCanvas.fillRect(i, 0, 1, canvas.height);
        }
        inCanvas.fillStyle = "black";
        inCanvas.fillRect(Xzero, 0, 2, canvas.height);
        inCanvas.fillRect(0, Yzero, canvas.width, 2);
        inCanvas.font = "15pt Arial";
        inCanvas.fillText("x(t)", Xzero + 10, 18);
        inCanvas.fillText("t", canvas.width - 10, Yzero - 8);

        //fleches
        inCanvas.fillStyle = "black";
        inCanvas.beginPath();
        inCanvas.moveTo(Xzero + 1, 0);
        inCanvas.lineTo(Xzero + 5 + 1, 10);
        inCanvas.lineTo(Xzero - 5 + 1, 10);
        inCanvas.lineTo(Xzero + 1, 0);
        inCanvas.fill();

        inCanvas.fillStyle = "black";
        inCanvas.beginPath();
        inCanvas.moveTo(canvas.width, Yzero + 1);
        inCanvas.lineTo(canvas.width - 10, Yzero - 5 + 1);
        inCanvas.lineTo(canvas.width - 10, Yzero + 5 + 1);
        inCanvas.lineTo(canvas.width, Yzero + 1);
        inCanvas.fill();
    }

    function trace(canvas, inCanvas) {
        inCanvas.moveTo(0, 100);
        inCanvas.strokeStyle = "red";
        inCanvas.beginPath();
        for (var i = 0; i < canvas.width; i++) {
            inCanvas.lineTo(
                i + 1,
                Yzero -
                    Math.sin(2 * Math.PI * ((i + 1 - Xzero) / ((Tcase / 2) * 10)) * (freq * 5) + ret * Math.PI) *
                        (ampli * Tcase) -
                    moy * Tcase
            );
        }
        inCanvas.stroke();
    }

    function formule() {
        document.getElementById("formule").innerHTML =
            "x(t) = " + moy + "+" + ampli + "*sin(2π*" + freq + "*t + " + ret + "π)";
    }

    document.getElementById("ampli").addEventListener(
        "input",
        function () {
            ampli = document.getElementById("ampli").value;
            document.getElementById("textAmpli").innerHTML = ampli;
            TraceCanvas();
        },
        false
    );

    document.getElementById("freq").addEventListener(
        "input",
        function () {
            freq = document.getElementById("freq").value;
            document.getElementById("textFreq").innerHTML = freq;
            TraceCanvas();
        },
        false
    );

    document.getElementById("moy").addEventListener(
        "input",
        function () {
            moy = document.getElementById("moy").value;
            document.getElementById("textMoy").innerHTML = moy;
            TraceCanvas();
        },
        false
    );

    document.getElementById("ret").addEventListener(
        "input",
        function () {
            ret = document.getElementById("ret").value;
            document.getElementById("textRet").innerHTML = ret + "π";
            TraceCanvas();
        },
        false
    );

    document.getElementById("ech").addEventListener(
        "input",
        function () {
            let canvas = document.getElementById("canvas");
            Tcase = parseInt(document.getElementById("ech").value, 10);
            if (Math.floor(canvas.height / Tcase) % 2 == 0) {
                Ycase = (canvas.height - Math.floor(canvas.height / Tcase) * Tcase) / 2;
            } else {
                Ycase = (canvas.height - (Math.floor(canvas.height / Tcase) - 1) * Tcase) / 2;
            }
            if (Math.floor(canvas.width / Tcase) % 2 == 0) {
                Xcase = (canvas.width - Math.floor(canvas.width / Tcase) * Tcase) / 2;
            } else {
                Xcase = (canvas.width - (Math.floor(canvas.width / Tcase) - 1) * Tcase) / 2;
            }
            //Xzero = Math.round(canvas.width/Tcase/2)*Tcase;
            //Yzero = Math.round(canvas.height/Tcase/2)*Tcase;
            document.getElementById("textEch").innerHTML = Tcase;
            TraceCanvas();
        },
        false
    );

    init();
</script>
