* {
    --sl-content-width: 60rem;
}

html[data-theme="dark"] .sl-markdown-content img {
    background: lightgray;
    /* border: 3px solid black; */
    border-radius: 10px;
}
.supercenter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sl-markdown-content {
    overflow-x: auto;
}
