* {
    --sl-content-width: 60rem;
}

html[data-theme="dark"] .sl-markdown-content img {
    background: lightgray;
}
.supercenter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
